$white: #ffffff
$text_color: #525c65

$header_footer_dark: #1c1c1c          // TODO 7 final check color changes & move to Discourse
$body_dark_gray: #262626
$button_white_gray: #e6e6e6
$border_color_gray: #6e6e6e
$background_brown_grey: #333333

$momentum_red: #b91f24  // replacing template $highlight: #c0334a and $border_red: #c25b6c
$momentum_gold: #fab914
$momentum_green: #13a048

// Depreciated May 15, 2018
// $momentum_red_lighten: #e15155  // replacing template $highlight_lighten: #d25469
