
<section id="banner" data-vide-bg_off="{{site.baseurl}}/assets/video/{% if site.video %}{{ site.video }}{% endif %}" data-vide-options="posterType: jpg, loop: true, muted: false, position: 50% 50%">
  <div class="h5_video">  <!-- TODO longer black in video -->
    <video id="landingVideo"
           controls
           autoplay
           loop
           muted
           poster="{{site.baseurl}}/assets/video/{% if site.poster %}{{ site.poster }}{% endif %}" >
      <source src="{{site.baseurl}}/assets/video/{% if site.video_mp4 %}{{ site.video_mp4 }}{% endif %}" type='video/mp4' />
      <source src="{{site.baseurl}}/assets/video/{% if site.video_ogv %}{{ site.video_ogv }}{% endif %}" type='video/ogv' />
      <source src="{{site.baseurl}}/assets/video/{% if site.video_webm %}{{ site.video_webm }}{% endif %}" type='video/webm' />
    </video><!-- TODO try black removed video -->
  </div>
  <div class="wrapper">
    <div class="content">
      <h1 class="title">{% if site.banner-title %}{{ site.banner-title }}{% else %}Momentum{% endif %}</h1>
      <h2 class="sub_title">{% if site.banner-desc %}{{ site.banner-desc }}{% else %}"An alternative social contract prioritizing vulnerability over self-promotion".{% endif %}</h2>
      <div class="call_to_action">
        <h1 class='action_text'><a href="{{site.baseurl}}/come-to-a-meeting/">Come to a Meeting</a></h1>
      </div>
    </div>
  </div>
</section> <!-- End Section Banner -->