 <ul>
	<li><a href="#">Directory</a>
	    <ul>
		    <li><a href="https://discourse.gomomentum.org/u">Men</a></li>
	        <li><a href="https://discourse.gomomentum.org/groups?filter=Team&type=close">Teams</a></li>
	    </ul>
	</li>
	<!--<li><a href="https://discourse.gomomentum.org/categories">Discuss</a></li>-->
	<li><a href="#">Calendars</a>
	  <ul>
		<li><a href="https://calendar.google.com/calendar/embed?src=66h033akm02b1r3j54bi4htk60%40group.calendar.google.com&ctz=America/Los_Angeles">Open Invite</a></li>
		<li><a href="https://calendar.google.com/calendar/embed?src=imnr0qloh1odas9igekevfg5fg%40group.calendar.google.com&ctz=America/Los_Angeles">Invitation Only</a></li>
		<li><a href='https://www.meetup.com/GoMomentum/events/'>on Meetup</a></li>
	  </ul>
	</li>
	<li><a href="#">Photos</a>
	  <ul>
		<li><a href='https://photos.app.goo.gl/mMWRKRSi9Wax43q56'>Upload Inbox</a></li>
		<li><a href="#">Fall Events</a>
		  <ul>
			<li><a href='https://photos.app.goo.gl/dsqU8zSu6EwmvX1E8'>2018 - Going Deeper</a></li>
			<li><a href='https://photos.app.goo.gl/oQuZivUHEXFtVguh8'>2017 - TKOm</a></li>
			<li><a href='https://photos.app.goo.gl/pGNkUE3P7gJ8EC1U7'>2015 - Fun University</a></li>
		  </ul>
		</li>
		<li><a href="#">General Meetings</a>
		  <ul>
			<li><a href='https://photos.app.goo.gl/jT8aApp6kb5LHn9a7'>Content</a></li>
			<li><a href='https://photos.app.goo.gl/fhZFPYWpippUhzwE8'>Fun</a></li>
			<li><a href='https://photos.app.goo.gl/2xrqUFL3JyV76jSe8'>Grove</a></li>
		  </ul>
		</li>
		<li><a href="#">Service</a>
		  <ul>
			<li><a href='https://photos.app.goo.gl/ApdH3erYCnPSMmME8'>Mount Hamilton 2014</a></li>
			<li><a href='https://photos.app.goo.gl/vTHkk6xFccUwkpQ8A'>Past</a></li>
		  </ul>
		</li>
		<li><a href="#">Teams</a>
		  <ul>
			<li><a href='https://photos.app.goo.gl/6X1cr14mtTJsSeDv6'>Meetings</a></li>
			<li><a href='https://photos.app.goo.gl/Yw3hNeBrnN8TKoEV7'>Outings</a></li>
			<li><a href='https://photos.app.goo.gl/ticoQqdX21AJt62k9'>Meals</a></li>
			<li><a href='https://photos.app.goo.gl/igYqta6mLD75HYB88'>Group Photos</a></li>
		  </ul>
		</li>
		<li><a href="#">Adventure</a>
		  <ul>
			<li><a href='https://photos.app.goo.gl/8hCZgB7649bn4EGW9'>Outings</a></li>
			<li><a href='https://photos.app.goo.gl/Rsa2acfD4vqhb1g69'>Ski Trips</a></li>
			<li><a href='https://photos.app.goo.gl/8V2FX2Hxy5iZBPv96'>Happy Hour</a></li>
		  </ul>
		</li>
		<li><a href="#">Primals</a>
		  <ul>
			<li><a href='https://photos.app.goo.gl/qucRD2fisSQLBEH3A'>2015 Chief</a></li>
		  </ul>
		</li>
	  </ul>
	</li>
	<li><a href="#">Processes</a>
	  <ul>
		<li><a href='https://discourse.gomomentum.org/tags/process'>All</a></li>
		<li><a href='https://discourse.gomomentum.org/search?q=tags%3Avideo%2Bprocess'>Videos</a></li>
		<li><a href='https://gomomentum.org/members_area/team_resources/'>Team</a></li>
	  </ul>
	</li>
	<li><a href="#">Tempo</a>
	  <ul>
		<li><a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vS75r3yXKgQiaumXQgUSdkpvO9tSHuR0sX1x-oJ3LHRs4onRZ8vni0QPERu_aQ-YbeLXmVopgQiD-Jd/pubhtml" target="_blank">Schedule</a></li>
		<li><a href="https://docs.google.com/document/d/1q3Wz6EpgEh1O3ZbjZpbxSQjz9Mo4-r9xVPXfOdcdyDw">Manual</a></li>
	  </ul>
	</li>
	<li><a href="#">Teams</a>
	  <ul>
		<li><a href="https://docs.google.com/document/d/1SaXbDPUiFpaRgzoDIWzkusm7hFTY406AJ6w1VtTMzZM/" target="_blank">Charter Builder Template</a></li>
	  </ul>
	</li>
	<li><a href="#">Who We Are</a>
	  <ul>
		<li><a href='https://kimardenmiller.github.io/Momentum/about_us/'>About Us</a></li>
		<li><a href='https://kimardenmiller.github.io/Momentum/legacy/'>Standards</a></li>
		<li><a href='https://kimardenmiller.github.io/Momentum/charter/'>Charter</a></li>
		<li><a href='https://docs.google.com/spreadsheets/d/17BNZlBWdr2OoJBO8rlS4Vf6J_KP_9-71Rk2cFwcoCe4'>NoMenclature</a></li>
		<li><a href="#">Public Sites</a>
		  <ul>
			<li><a href='https://www.gomomentum.org/'>Momentum</a></li>
			<li><a href='https://www.facebook.com/nationofmen/'>on Facebook</a></li>
			<li><a href='https://www.meetup.com/GoMomentum/'>on Meetup</a></li>
			<li><a href='https://www.youtube.com/channel/UCv4IrdYFOLW6pYpXbpfj-Ng'>on Youtube</a></li>
		  </ul>
		</li>
	  </ul>
	</li>
	<li><a href="https://momentum4men.memberful.com/account" target="_blank">My Account</a></li>
	<li><a href="https://discourse.gomomentum.org/t/new-user-wiki/1867">Help</a></li>
  </ul>
