<header class="main_header">
    <a href="https://gomomentum.org/">
        <img src="https://gomomentum.org/assets/img/momentum_logo_clear_older.png" alt="Momentum"
             class="logo discourse">
    </a>
    <nav class="main_menu">
        <ul>
            <li><a href="#">Owners <i class="fa fa-bars discourse"></i></a>{% include discourse_menu.html %}</li>
        </ul>
    </nav>
</header>

<!--<div id="navmenucontainer" class="container">-->
<!--<div class="main_header">-->
    <!--<nav class="momentum_discourse">-->
    <!--<ul class="nav">-->
       <!--<li><a href="#"><i class="fas fa-bullseye"></i>Owner Area</a>{% include discourse_menu.html %}</li>-->
    <!--</ul>-->
    <!--</nav>-->
<!--</div>-->
<!--</div>-->