<header class="main_header">
    <!--<a href="{{site.baseurl}}/" class="logo">{% if site.logo %}{{site.logo}}{% else %}M<span>text</span>{% endif %}</a>-->
    <a href="{{site.baseurl}}/">
        <img src="{{site.baseurl}}/assets/img/{% if site.logo-img %}{{site.logo-img}}{% endif %}" alt="Logo image"
             class="logo">
        <!--img src="{{site.baseurl}}/assets/img/{% if site.logo-img2 %}{{site.logo-img2}}{% endif %}" alt="Logo image"
             class="logo"-->
    </a>
    <nav class="main_menu">
        <ul>
            <li><a class="nav-link yellow" href="#">Connect</a>
                <ul>
                    <li><a href="{{site.baseurl}}/about/">About Us</a></li>
                    <li><a href="{{site.meet_up_url}}">Events</a></li>
                    <li><a href="{{site.facebook_url}}">on Facebook</a></li>
                    <li><a href="{{site.baseurl}}/contact/">Get in Touch</a></li>
                </ul>
            </li>
            <li><a href="http://discourse.gomomentum.org/">Login</a></li>
        </ul>
    </nav>
</header> <!-- End Section Header -->