<header class="main_header">
    <!--<a href="{{site.baseurl}}/" class="logo">{% if site.logo %}{{site.logo}}{% else %}M<span>text</span>{% endif %}</a>-->
    <a href="{{site.baseurl}}/">
        <img src="{{site.baseurl}}/assets/img/{% if site.logo-img %}{{site.logo-img}}{% endif %}" alt="Logo image"
             class="logo">
    </a>
    <nav class="main_menu">
        <ul>
            <li><a class="nav-link yellow" href="#">About</a>
                <ul>
                    <li><a href="{{site.baseurl}}/about/">Momentum</a></li>
                    <li><a href="{{site.baseurl}}/contact/">Meetup Events</a></li>
                    <li><a href="{{site.baseurl}}/contact/">Facebook Page</a></li>
                    <li><a href="{{site.baseurl}}/contact/">Get in Touch</a></li>
                </ul>
            </li>
            <li><a href="http://discourse.gomomentum.org/">Member Login</a></li>
        </ul>
    </nav>
</header> <!-- End Section Header -->