<ul>
    <li><a href="{{site.baseurl}}/about_us/">Benefits</a></li>
    <li><a href="{{site.baseurl}}/monthly-meeting/">Visit Us</a></li>
    <li><a href="{{site.baseurl}}/contact/">Get in Touch</a></li>
    <li><a href="{{site.meet_up_url}}">Events<br/> on Meetup</a></li>
    <li><a href="{{site.facebook_url}}">Social<br/> on Facebook</a></li>
    <li><a href="{{ site.baseurl }}{% post_url 2018-01-01-going-deeper-fall-event %}">Fall Event</a></li>
    <li><a href='http://discourse.gomomentum.org/'>Members</a></li>
</ul>
