// - - - - - - - - - - Banner Styles - - - - - - - - - - //

#banner
  position: relative
  .content
    padding: 12rem 0 12rem 0

    .title, .sub_title
      text-align: center
      color: $white
    .title
      font-size: 3.5rem
      margin: 0 0 1rem 0
    .sub_title
      font-weight: 400
      font-size: 1.35rem
      margin: 0 auto 2rem auto
      line-height: 2.5rem
      font-style: italic
  .h5_video
    position: absolute
    z-index: -1
    top: 0px
    left: 0px
    bottom: 0px
    right: 0px
    overflow: hidden
    background-size: cover
    background-color: transparent
    background-repeat: no-repeat
    background-position: 50% 50%
    background-image: none

    video
      margin: auto
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      visibility: visible
      opacity: 1
      width: 100%
      height: auto
