/*Wild Apricot legacy styles for compatibility with version 5.0. Begin.*/
.WaLegacyContentGadget .gadgetContentEditableArea
{
  float: left;
  width: 100%;
}
.cnPrimaryContentBlock1Content>DIV
{
  padding: 0;
}

#id_LoginBoxGadget 
{
  position: inherit;
}

.cnPrimaryContentBlock1ContentHolder, .cnPrimaryContentBlock1Content
{
  width: 885px;
}

.cnPrimaryContentBlock1Content 
{
    padding: 0;
}

.cnPrimaryContentContainer .d9PrimaryContentContainer
{
  height: auto;
  padding: 29px 7px 13px 13px;
  width: 885px;
}

.mainMenuContainerTopCorners.cornersContainer
{
  display: block;
}

 .cnHeaderSeparatorTopCorners
{
  display: none;
}

.cnPrimaryContentContainer .d7PrimaryContentContainer,
.cnPrimaryContentContainer .d8PrimaryContentContainer, 
.cnPrimaryContentContainer .d9PrimaryContentContainer 
{
  float:  left;
}

.cnPrimaryContentBlock1Content DIV.publicWizardContainer H1.pageTitle
{
  padding: 0 0 1.00em 0;
}

#id_LoginBoxGadget .loginContainer 
{
  position: absolute;
  top: 7px;
  right: 17px;
  width: 184px;
  height: 134px;
  z-index: 33003;
}


.cnFooterContainerBottomCorners .bottomCorners .c4, .cnFooterContainerBottomCorners .bottomCorners .c3, .cnFooterContainerBottomCorners .bottomCorners .c2, .cnFooterContainerBottomCorners .bottomCorners .c1, .cnFooterContainer .d2FooterContainer 
{
	 background-color: #83C3F2;
}

.footerContent, .footerContent TD, .footerContent P 
{
	 color: #FFFFFF;
}

.cnPrimaryContentBlock1Content A, .cnPrimaryContentBlock1Content A:link, .cnPrimaryContentBlock1Content A:active, .cnPrimaryContentBlock1Content A:visited 
{
	 color: #285CAA;
}

.cnPrimaryContentBlock1Content H1.contStyleExcHeadingColored 
{
	 color: #334A94;
}

/*Wild Apricot legacy styles for compatibility with version 5.0. End.*/

