---
layout: default
---
{% include header.html %}

<main class="post_content">
  <article class="post">
    <header>
      <div class="post_image">
        <img src={{"/assets/img/" | prepend: site.baseurl | append : page.img}} alt="{{page.title}}">
      </div>
      <div class="post_description">
        <p class="post_meta">{{page.date | date: '%Y, %b %d'}} old about</p>
        <h1 class="post_title">{{page.title}}</h1>
      </div>
    </header> <!-- End Header -->

    <div class="entry_content">
      {{page.content | markdownify}}
    </div>
    
    <div class="post_wrapper">
      <footer class="post_footer cf">
        <div class="post_share">
          <span>Share:</span><!-- TODO 0 check social links in final site -->
          <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
             title="Share on Twitter" rel="nofollow" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}" title="Share on Facebook"
             rel="nofollow" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a href="https://plus.google.com/share?url={{ site.url }}{{ site.baseurl }}{{ page.url }}" title="Share on Google+"
             rel="nofollow" target="_blank"><i class="fa fa-google" aria-hidden="true"></i></a>
        </div>
        <div class="post_tag">
          <span>Tags:</span>
          {% for tag in page.tags %}
          <a href="{{site.baseurl}}/tags#{{tag}}" class="tag">{{ tag }}</a>
          {% endfor %}
        </div>
      </footer>
    </div>
  </article> <!-- End Section Post -->

    {% include disqus.html %}

  <section class="author cf">
    <div class="post_wrapper">
      <div class="author_image">
        <img src="{{site.baseurl}}/assets/img/{% if page.author-photo %}{{ page.author-photo }}{% else %}{{ site.author-pic }}{% endif %}" alt="Author face">
      </div>
      <div class="author_info">
        <h2 class="author_title">{% if page.author-name %}{{page.author-name}}{% else %}Momentum{% endif %}</h2>
        <p class="author_subtitle">{% if page.about-author %}{{page.about-author}}{% else %}{{site.about-author}}{% endif %}</p>
        <div class="author_social">
          {% if site.contact %}
          <span class="author_website"><i class="fa fa-link" aria-hidden="true"></i>
            <a href="{{site.contact | prepend: site.baseurl}}" target="_blank">Click here to contact Momentum</a></span>
          {% else %}
          <span class="author_website"><i class="fa fa-link" aria-hidden="true"></i>
            <a href="{{site.website}}" target="_blank"></a></span>
          {% endif %}
        </div>
      </div>
    </div>
  </section> <!-- End Section Author -->

  <section class="recent_box">
    <div class="post_wrapper">
      <h2 class="recent_title">Recent posts</h2>
      <div class="recent_list">
        {% for post in site.posts offset:0 limit:6 %}
          {% if post.title %}
            <a href="{{ root_url }}{{ post.url }}" class="recent_item" style="background-image: url( {{ "/assets/img/" | prepend: site.baseurl | append : post.img}} )"><span>{{ post.title }}</span></a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </section> <!-- End Section Recent Box -->

</main> <!-- End Section Post Content -->

{% include footer.html %}
